<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set">
  <sitecore>
    <events>
      <event name="item:added">
        <handler type="XXXX.Events.ItemnameHandler, XXXX" method="HandleItemName" />
      </event>
      <event name="item:renamed">
        <handler type="XXXX.Events.ItemnameHandler, XXXX" method="HandleItemName" />
      </event>
    </events>
    <settings>
      <setting name="Page_Template_Ids" value="{4EBC52AA-AE5B-4099-96BD-EC631CBDFB93},{00931377-84E1-4061-9A64-AB98EB09B863},{7D6FF33A-C873-4F85-BA14-9DAB6E729BA2}" />
      <setting name="PageTemplate_Ids_Delimeter" value="," />
      <setting name="ItemHandler_Database" value="master" />
      <setting name="SEO_Friendly_Character" value="-" />
      <setting name="ItemHandler_ParentItemPath" value="/sitecore/content/Home" />
    </settings>
  </sitecore>
</configuration>